
@{
    ViewData["Title"] = "TimeCalculatorView";
}

<h1>TimeCalculatorView</h1>
@using (Html.BeginForm()) {
<p>
    @Html.Label("Hours") <br />
    @Html.TextBox("Hours")
</p>
<p>
</p>
<p>
    @Html.Label("Minutes") <br />
    @Html.TextBox("Minutes")
    @Html.Label("Seconds") <br />
    @Html.TextBox("Seconds")
</p>
<p>
    <input type="submit" value="Calculate time">
</p>
}
